html {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: transparent;
    width: auto;
    height: auto;
    max-width: 800px;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Arial;
}

.title-bar {
    background-color: royalblue;
    color: white;
    padding: 0px 8px;
    margin: -8px -8px 8px -8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-bar img {
    margin: 0px 8px 0px 8px;
}

.title-bar p {
    justify-content: left;
    font-size: 14px;
    font-weight: 600;
}

.title-bar button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: 0px 0px;
}

.content {
    flex: content;
    margin: -4px -4px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 8px;
    max-height: 120px;
    overflow: auto;
}

button {
    margin-top: 10px;
}

.section {
    margin-bottom: 8px;
}

.example {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}

h3 {
    margin-bottom: 5px;
}

small {
    color: #666;
}

.tabs {
    display: flex;
    gap: 4px;
    margin-left: 4px;
    margin-bottom: -1px
}

.tab {
    padding: 8px 12px;
    background: #d5e0ff;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer
}

.tab.active {
    background: #94b6ff;
    border: 1px solid #ddd;
    border-bottom: none
}

.tab-content {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    margin: 0px 0px 8px 0px;
}

.hidden {
    display: none
}