/* General styling */

html {
    font-family: sans-serif;
    font-size: 12px;
    background: transparent;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 600px;
}

body {
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
}

.title-bar {
    background-color: royalblue;
    color: white;
    padding: 0px 8px;
    margin: -8px -8px 8px -8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-bar img {
    margin: 0px 8px 0px 8px;
}

.title-bar p {
    justify-content: left;
    font-size: 14px;
    font-weight: 600;
}

.title-bar button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.content {
    flex: content;
    margin: -4px -4px;
    overflow-y: auto;
}

.container {
    align-items: center;
    justify-content: center;
    max-width: 800px;
    max-height: 540px;
    overflow: hidden;
}

.content table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
    max-width: 800px;
    padding: 0px 8px;
    margin: 0px 0px 0px 0px;
}

.content thead {
    background-color: darkblue;
    color: white;
    font-size: 12px;
    font-weight: 600;
    display: table;
    width: 100%;
    table-layout: inherit;
}

.content th {
    align-items: center;
    text-align: center;
    padding: 4px 8px;
}

.sort-indicator {
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    margin-left: 2px;
}

.content tbody {
    padding: 8px 0px 8px 0px;
    display: block;
    max-height: 30rem;
    width: 100%;
    overflow-y: auto;
}

.content tbody tr {
    /*display: table;*/
    /*table-layout: inherit;*/
    width: 100%;
    border-bottom: 1px dashed navy;
    padding: 0px 8px;
    text-align: left;
}

.content tbody tr td {
    padding: 0px 8px;
    vertical-align: top;
    text-align: center;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1rem;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 80px 0px 0px 0px;
}

.loader-info {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: royalblue;
    margin-top: 20px;
    margin-bottom: 80px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 600px;
  height: 22px;
  border-radius: 20px;
  color: #5b6bff;
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 10s infinite;
}

@keyframes l6 {
    100% {inset:0}
}